especificaciones.pdf
ModeloEurekaBank.pdf

## Java
*.class
.mtj.tmp/
*.war
*.ear
hs_err_pid*

## Netbeans

**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/